agent:
  enhance:
    javaVersion: '[,1.8);[1.8.0_60,]'
    retransformEnabled: true
    poolEnabled: true
    loggerEnabled: true
    exporterEnabled: ${CONFIG_ENHANCE_EXPORTER_ENABLED:false}
    excludePrefixes:
      - jdk.internal.reflect.Generated
      - sun.reflect.Generated
      - java.lang.invoke.StringConcatFactory$$StringConcat
      - com.jd.jr.sgm.
      - org.apache.skywalking.apm.
      - com.jd.pfinder.profiler.
      - io.opentelemetry.javaagent.
      - com.navercorp.pinpoint.
      - com.huaweicloud.sermant.
      - com.alipay.sofa.ark.
    excludeTypes: null
    excludeClassLoaders:
      - com.jd.jr.sgm.agent.loader.ClientLibClassLoader
      - com.jd.jr.sgm.agent.loader.ClientAppClassLoader
      - com.jd.pfinder.profiler.load.InterceptorClassLoader
      - com.jd.pfinder.profiler.utils.ModuleClassLoader
      - com.jd.pfinder.profiler.load.ModuleInterceptorClassLoader
      - io.opentelemetry.javaagent.bootstrap.AgentClassLoader
      - io.opentelemetry.javaagent.tooling.ExtensionClassLoader
      - org.apache.skywalking.apm.agent.core.plugin.loader.AgentClassLoader
      - org.apache.skywalking.apm.agent.core.plugin.loader.PluginClassLoader
      - com.navercorp.pinpoint.bootstrap.classloader.AgentClassLoader
      - com.navercorp.pinpoint.bootstrap.classloader.PluginClassLoader
      - com.huaweicloud.sermant.core.classloader.FrameworkClassLoader
      - com.huaweicloud.sermant.core.plugin.classloader.PluginClassLoader
      - com.huaweicloud.sermant.core.plugin.classloader.ServiceClassLoader
      - com.alipay.sofa.ark.container.service.classloader.PluginClassLoader
    addOpens:
      com.jd.live.agent.bootstrap.util.type.FieldAccessorFactory:
        - java.util.Map
        - jdk.internal.misc.Unsafe
        - sun.misc.Unsafe
      com.jd.live.agent.governance.invoke.Invocation:
        - java.util.Map
      com.jd.live.agent.core.util.http.HttpUtils:
        - java.net.URI
  timer:
    tickTime: ${CONFIG_TIMER_TICK_TIME:100}
    ticks: ${CONFIG_TIMER_TICKS:512}
    workerThreads: ${CONFIG_TIMER_WORKER_THREADS:4}
  publisher:
    configs:
      traffic:
        capacity: ${CONFIG_TRAFFIC_BUFFER_SIZE:40000}
  plugin:
    systems:
      - system
    statics:
      - eureka
      - polaris
      - nacos
      - spring
      - dubbo
      - sofarpc
      - grpc
      - httpclient
      - okhttp
      - netty
      - jdk
      - jdbc
      - mariadb
      - mysql
      - mongodb
      - opengauss
      - postgresql
      - kafka
      - pulsar
      - rabbitmq
      - redis
      - rocketmq
    disables: null
    dynamics: null
    profiles:
      test: null
      production: null
    profile: null
  sync:
    liveSpace:
      type: ${CONFIG_LIVE_SPACE_API_TYPE:file} # [file,multilive,multilive-openapi,nacos]
      url: ${CONFIG_LIVE_SPACE_API_URL:http://api.live.local:9090/v1}
      service: true
      interval: 3000
      timeout: 3000
      initialTimeout: 20000
      delay: 0
      fault: 5000
      headers: ${CONFIG_LIVE_SPACE_API_HEADERS}
      # for multilive
      multilive:
        spacesUrl: /workspaces
        spaceUrl: /workspaces/${space_id}/version/${space_version}
        serviceUrl: /services/${service_name}/version/${service_version}
        databaseUrl: /workspaces/${space_id}/databases/${database_version}
      # for multilive-openapi
      jdcloud:
        accessKey: ${CONFIG_MULTILIVE_ACCESS_KEY}
        secretKey: ${CONFIG_MULTILIVE_SECRET_KEY}
      # for nacos
      nacos:
        username: ${CONFIG_NACOS_USERNAME:nacos}
        password: ${CONFIG_NACOS_PASSWORD:nacos}
        namespace: ${CONFIG_NACOS_NAMESPACE:public}
        liveSpaceGroup: ${CONFIG_NACOS_GROUP_LIVE_SPACE:DEFAULT_GROUP}
        liveSpacesKey: ${CONFIG_NACOS_KEY_LIVE_SPACES:govern-liveSpaces}
        liveSpaceKeyTemplate: ${CONFIG_NACOS_KEY_LIVE_SPACE_TEMPLATE:govern-liveSpace-${id}}
        liveServiceTemplate: ${CONFIG_NACOS_KEY_LIVE_SERVICE_TEMPLATE:govern-liveService-${name}}
        liveDatabaseTemplate: ${CONFIG_NACOS_KEY_LIVE_DATABASE_TEMPLATE:govern-liveDatabase-${id}}
    laneSpace:
      type: ${CONFIG_LANE_SPACE_API_TYPE:file} # [file,jmsf,nacos]
      url: ${CONFIG_LANE_SPACE_API_URL:http://api.jmsf.local:8080/v1}
      interval: 3000
      timeout: 3000
      initialTimeout: 20000
      delay: 0
      fault: 5000
      # for jmsf
      jmsf:
        spacesUrl: /laneSpaces
        spaceUrl: /laneSpace/${space_id}/version/${space_version}
      # for nacos
      nacos:
        username: ${CONFIG_NACOS_USERNAME:nacos}
        password: ${CONFIG_NACOS_PASSWORD:nacos}
        namespace: ${CONFIG_NACOS_NAMESPACE:public}
        laneSpaceGroup: ${CONFIG_NACOS_GROUP_LANE_SPACE:DEFAULT_GROUP}
        laneSpacesKey: ${CONFIG_NACOS_KEY_LANE_SPACES:govern-laneSpaces}
        laneSpaceKeyTemplate: ${CONFIG_NACOS_KEY_LANE_SPACE_TEMPLATE:govern-laneSpace-${id}}
    microservice:
      type: ${CONFIG_SERVICE_API_TYPE:file} # [file,jmsf,nacos]
      url: ${CONFIG_SERVICE_API_URL:http://api.jmsf.local:8080/v1}
      headers: ${CONFIG_SERVICE_API_HEADERS}
      interval: 3000
      timeout: 3000
      initialTimeout: 20000
      delay: 0
      fault: 5000
      # for jmsf
      jmsf:
        serviceUrl: /space/${space}/service/${service_name}/version/${service_version}?application=${application}
      # for nacos
      nacos:
        username: ${CONFIG_NACOS_USERNAME:nacos}
        password: ${CONFIG_NACOS_PASSWORD:nacos}
        namespace: ${CONFIG_NACOS_NAMESPACE:public}
        serviceGroup: ${CONFIG_NACOS_GROUP_SERVICE:DEFAULT_GROUP}
        serviceKeyTemplate: ${CONFIG_NACOS_KEY_SERVICE_TEMPLATE:govern-service-${name}}
  watchdog:
    enabled: true
    delay: 5000
    interval: 100
    timeout: 5000
  switch:
    govern:
      mq: ${CONFIG_MQ_ENABLED:false}
      dubbo: true
      grpc: true
      sofarpc: true
      jsf: true
      spring: true
      zuul: true
      phevos: true
      rocketmq: true
      kafka: true
    live:
      enabled: ${CONFIG_LIVE_ENABLED:false}
    lane:
      enabled: ${CONFIG_LANE_ENABLED:${CONFIG_FLOW_CONTROL_ENABLED}}
    transmission:
      enabled: ${CONFIG_TRANSMISSION_ENABLED:true}
      threadpool: ${CONFIG_TRANSMISSION_THREADPOOL_ENABLED:true}
    flowcontrol:
      enabled: ${CONFIG_FLOW_CONTROL_ENABLED:true}
      localhost: ${CONFIG_LOCALHOST_ENABLED:false}
      virtualthread: ${CONFIG_VIRTUAL_THREAD_ENABLED:false}
    failover:
      enabled: ${CONFIG_FAILOVER_ENABLED:false}
      db: ${CONFIG_FAILOVER_DB_ENABLED:${CONFIG_FAILOVER_ENABLED:false}}
      mq: ${CONFIG_FAILOVER_MQ_ENABLED:${CONFIG_FAILOVER_ENABLED:false}}
      mongodb: ${CONFIG_FAILOVER_MONGODB_ENABLED:true}
      rocketmq: ${CONFIG_FAILOVER_ROCKETMQ_ENABLED:true}
      redis: ${CONFIG_FAILOVER_REDIS_ENABLED:true}
    protect:
      enabled: ${CONFIG_PROTECT_ENABLED:false}
      db: ${CONFIG_PROTECT_DB_ENABLED:${CONFIG_PROTECT_ENABLED:false}}
      mariadb: ${CONFIG_PROTECT_MARIADB_ENABLED:true}
      mysql: ${CONFIG_PROTECT_MYSQL_ENABLED:true}
      postgresql: ${CONFIG_PROTECT_POSTGRESQL_ENABLED:true}
      opengauss: ${CONFIG_PROTECT_OPENGAUSS_ENABLED:true}
      mongodb: ${CONFIG_PROTECT_MONGODB_ENABLED:true}
      redis: ${CONFIG_PROTECT_REDIS_ENABLED:false}
    classloader:
      enabled: ${CONFIG_CLASSLOADER_ENABLED:true}
      springboot: true
  governance:
    initializeTimeout: ${CONFIG_POLICY_INITIALIZE_TIMEOUT:10000}
    shutdownWaitTime: ${CONFIG_SHUTDOWN_WAIT_TIME:10000}
    service:
      localFirst: ${CONFIG_LOCAL_FIRST:true}
      cellFailoverThresholds: ${CELL_FAILOVER_THRESHOLDS}
      serviceGroups: ${CONFIG_SERVICE_GROUPS:}
      serviceGroupOpen: ${CONFIG_SERVICE_GROUP_OPEN:true}
      responseException: ${CONFIG_RESPONSE_EXCEPTION:true}
      defaultResultType: ${CONFIG_DEFAULT_RESULT_TYPE}
      warmups: ${CONFIG_WARMUP_SERVICES:}
      systemPaths: ${CONFIG_SYSTEM_HTTP_PATHS}
      systemHandlers: ${CONFIG_SYSTEM_HTTP_HANDLERS}
      concurrencyLimiter:
        type: Resilience4j
        cleanInterval: 30000
        expireTime: 60000
      rateLimiter:
        type: SmoothBursty
        cleanInterval: 30000
        expireTime: 60000
        configs: ${CONFIG_RATE_LIMITER_CONFIG:}
      loadLimiter:
        cpuUsage: ${CONFIG_MAX_CPU_USAGE:}
        loadUsage: ${CONFIG_MAX_LOAD_USAGE:}
      circuitBreaker:
        type: Resilience4j
        cleanInterval: 30000
        expireTime: 60000
        autoHalfOpenEnabled: ${CONFIG_CIRCUIT_BREAKER_AUTO_HALF_OPEN_ENABLED:false}
        loggingEnabled: ${CONFIG_CIRCUIT_BREAKER_LOGGING_ENABLED:${CONFIG_CIRCUIT_BREAK_LOG_ENABLED:true}
      monitor:
        forwardEnabled: ${CONFIG_MONITOR_FORWARD_TRAFFIC_ENABLED:}
        rejectEnabled: true
    mcp:
      enabled: ${CONFIG_MCP_ENABLED:false}
      title: ${CONFIG_MCP_TITLE}
      version: ${CONFIG_MCP_VERSION}
      path: ${CONFIG_MCP_PATH:/mcp}
      timeout: ${CONFIG_MCP_TIMEOUT}
      governanceEnabled: ${CONFIG_MCP_GOVERNANCE_ENABLED:true}
      metadata: ${CONFIG_MCP_METADATA}
    mq:
      liveMode: ${CONFIG_LIVE_MQ_MODE:ISOLATION_CLUSTER}
      laneMode: ${CONFIG_LANE_MQ_MODE:SHARED}
      groupEnabled: ${CONFIG_MQ_GROUP_ENABLED:true}
      groupExpression: ${CONFIG_MQ_GROUP_EXPRESSION}
      topics: ${CONFIG_MQ_TOPICS}
    db:
      accessMode: ${CONFIG_DB_ACCESS_MODE:READ_WRITE}
    live:
      fallbackLocationIfNoSpace: ${CONFIG_FALLBACK_LOCATION_IF_NO_SPACE:false}
      hostEnabled: ${CONFIG_LIVE_HOST_ENABLED:false}
      hostExpression: ${CONFIG_LIVE_HOST_EXPRESSION}
      hosts: ${CONFIG_LIVE_HOSTS}
    lane:
      fallbackLocationIfNoSpace: ${CONFIG_FALLBACK_LOCATION_IF_NO_SPACE:false}
      hostEnabled: ${CONFIG_LANE_HOST_ENABLED:false}
      hostExpression: ${CONFIG_LANE_HOST_EXPRESSION}
      hosts: ${CONFIG_LANE_HOSTS}
    router:
      spring:
        discovery:
          disables: ${CONFIG_SPRING_DISCOVERY_DISABLES}
        gateway:
          pathFilters: ${CONFIG_SPRING_GATEWAY_PATH_FILTERS}
          pathFilterPrefixes: ${CONFIG_SPRING_GATEWAY_PATH_FILTER_PREFIXES}
          loadBalancerFilters: ${CONFIG_SPRING_GATEWAY_LOAD_BALANCER_FILTERS}
          retryFilters: ${CONFIG_SPRING_GATEWAY_RETRY_FILTERS}
          webSchemes: ${CONFIG_SPRING_GATEWAY_WEB_SCHEMES}
          liveFilterOrder: ${CONFIG_SPRING_GATEWAY_LIVE_FILTER_ORDER}
    transmission:
      type: ${CONFIG_TRANSMISSION_TYPE:live}
      autoDetect: ${CONFIG_TRANSMISSION_AUTO_DETECT:NONE}
      keys:
        - x-live-space-id
        - x-live-rule-id
        - x-live-uid
        - x-lane-space-id
        - x-lane-code
      prefixes:
        - x-live-
        - x-lane-
        - x-service-
      thread:
        excludeExecutors:
          - io.netty.channel.MultithreadEventLoopGroup
          - io.netty.channel.nio.NioEventLoop
          - io.netty.channel.SingleThreadEventLoop
          - io.netty.channel.kqueue.KQueueEventLoopGroup
          - io.netty.channel.kqueue.KQueueEventLoop
          - org.apache.tomcat.util.threads.ThreadPoolExecutor
          - org.apache.tomcat.util.threads.ScheduledThreadPoolExecutor
          - org.apache.tomcat.util.threads.InlineExecutorService
          - org.apache.juli.AsyncFileHandler$LoggerExecutorService
          - javax.management.NotificationBroadcasterSupport$1
          - com.alibaba.druid.pool.DruidAbstractDataSource$SynchronousExecutor
        excludeTasks:
          - com.jd.live.agent.core.thread.NamedThreadFactory
          - com.jd.jr.sgm.client.disruptor.LogEventFactory
          - com.jd.jr.sgm.client.util.AgentThreadFactory
          - com.jd.pfinder.profiler.common.util.NamedThreadFactory
          - io.opentelemetry.sdk.internal.DaemonThreadFactory
          - io.sermant.dubbo.registry.factory.RegistryNotifyThreadFactory
          - io.sermant.dynamic.config.init.DynamicConfigThreadFactory
          - io.sermant.flowcontrol.common.factory.FlowControlThreadFactory
          - io.sermant.loadbalancer.factory.LoadbalancerThreadFactory
          - io.sermant.core.utils.ThreadFactoryUtils
          - io.sermant.implement.service.xds.handler.XdsHandler.NamedThreadFactory
          - io.sermant.discovery.factory.RealmServiceThreadFactory
          - org.apache.skywalking.apm.agent.core.boot.DefaultNamedThreadFactory
          - com.netflix.stats.distribution.DataPublisher$PublishThreadFactory
          - sun.rmi.runtime.RuntimeUtil$1
          - sun.rmi.transport.tcp.TCPTransport$1
          - sun.rmi.transport.DGCImpl$1
          - sun.rmi.transport.DGCAckHandler$1
          - org.apache.tomcat.util.threads.TaskThreadFactory
          - org.apache.juli.FileHandler$ThreadFactory
          - com.tongweb.container.startup.HostConfig$DeployWar
          - sun.nio.fs.PollingWatchService$PollingWatchKey$1
        excludeExecutorPrefixes:
          - com.jd.live.agent.shaded.
          - com.netflix.hystrix.util.HystrixTimer$ScheduledExecutor$
          - com.alibaba.nacos.
        excludeTaskPrefixes:
          - reactor.core.scheduler.BoundedElasticScheduler$$Lambda
          - org.springframework.cloud.commons.util.InetUtils$$Lambda$
          - com.alibaba.nacos.
          - com.netflix.discovery.
          - com.jd.live.agent.shaded.
          - org.apache.catalina.core.ContainerBase$
          - org.apache.catalina.core.StandardServer$$Lambda$
          - com.netflix.loadbalancer.PollingServerListUpdater$
          - com.netflix.hystrix.util.HystrixTimer$
          - com.netflix.servo.util.ExpiringCache$
          - com.zaxxer.hikari.pool.HikariPool$
    configCenter:
      enabled: ${CONFIG_CENTER_ENABLED:false}
      type: ${CONFIG_CENTER_TYPE:nacos}
      address: ${CONFIG_CENTER_ADDRESS:${CONFIG_EXTERNAL_HOST:${CONFIG_INTERNAL_HOST}}:${CONFIG_EXTERNAL_HTTP_PORT:${CONFIG_INTERNAL_HTTP_PORT:8848}}}
      username: ${CONFIG_CENTER_USERNAME:${CONFIG_USERNAME:nacos}}
      password: ${CONFIG_CENTER_PASSWORD:${CONFIG_PASSWORD:nacos}}
      grayEnabled: ${CONFIG_CENTER_GRAY_ENABLED:true}
      refresh:
        environmentEnabled: ${CONFIG_CENTER_REFRESH_ENVIRONMENT_ENABLED:false}
        beanEnabled: ${CONFIG_CENTER_REFRESH_BEAN_ENABLED:true}
        beanNames: ${CONFIG_CENTER_REFRESH_BEAN_NAMES:}
        beanClassPrefixes: ${CONFIG_CENTER_REFRESH_BEAN_CLASS_PREFIXES:}
        ignoreKeys: ${CONFIG_CENTER_REFRESH_IGNORE_KEYS:spring.application.name}
        ignoreKeyPrefixes: ${CONFIG_CENTER_REFRESH_IGNORE_KEY_PREFIXES:}
      names: ${CONFIG_CENTER_NAMES:}
      name:
        namespace: ${CONFIG_CENTER_NAMESPACE:public}
        name: ${CONFIG_CENTER_NAME:${APPLICATION_NAME}}
        profile: ${CONFIG_CENTER_PROFILE:${APPLICATION_SERVICE_GROUP}}
      properties: ${CONFIG_CENTER_PROPERTIES}
    registry:
      enabled: ${CONFIG_REGISTRY_ENABLED:false}
      registerAppServiceEnabled: ${CONFIG_REGISTER_APP_SERVICE_ENABLED:${CONFIG_REGISTRY_ENABLED:false}}
      subscribeMode: ${CONFIG_REGISTRY_SUBSCRIBE_MODE:AUTO}
      host:
        enabled: ${CONFIG_HOST_SERVICE_ENABLED:true}
        services: ${CONFIG_HOST_SERVICES}
      clusters:
        - type: ${CONFIG_REGISTRY_TYPE_FIRST:nacos}
          role: ${CONFIG_REGISTRY_ROLE_FIRST:SECONDARY}
          mode: ${CONFIG_REGISTRY_MODE_FIRST:FULL}
          address: ${CONFIG_REGISTRY_ADDRESS_FIRST:${REGISTRY_EXTERNAL_HOST:${REGISTRY_INTERNAL_HOST}}:${REGISTRY_EXTERNAL_HTTP_PORT:${REGISTRY_INTERNAL_HTTP_PORT:8848}}}
          username: ${CONFIG_REGISTRY_USERNAME_FIRST:${REGISTRY_USERNAME:}}
          password: ${CONFIG_REGISTRY_PASSWORD_FIRST:${REGISTRY_PASSWORD:}}
          properties: ${CONFIG_REGISTRY_PROPERTIES_FIRST}
          namespace: ${CONFIG_REGISTRY_NAMESPACE_FIRST:${REGISTRY_NAMESPACE:public}}
          group: ${CONFIG_REGISTRY_GROUP_FIRST}
          groupEnabled: ${CONFIG_REGISTRY_GROUP_ENABLED:true}
          denyEmptyEnabled: ${CONFIG_REGISTRY_DENY_EMPTY_ENABLED:false}
        - type: ${CONFIG_REGISTRY_TYPE_SECOND:nacos}
          role: ${CONFIG_REGISTRY_ROLE_SECOND:SECONDARY}
          mode: ${CONFIG_REGISTRY_MODE_SECOND:FULL}
          address: ${CONFIG_REGISTRY_ADDRESS_SECOND}
          username: ${CONFIG_REGISTRY_USERNAME_SECOND:${REGISTRY_USERNAME:}}
          password: ${CONFIG_REGISTRY_PASSWORD_SECOND:${REGISTRY_PASSWORD:}}
          properties: ${CONFIG_REGISTRY_PROPERTIES_SECOND}
          namespace: ${CONFIG_REGISTRY_NAMESPACE_SECOND:${REGISTRY_NAMESPACE:public}}
          group: ${CONFIG_REGISTRY_GROUP_SECOND}
          groupEnabled: ${CONFIG_REGISTRY_GROUP_ENABLED:true}
          denyEmptyEnabled: ${CONFIG_REGISTRY_DENY_EMPTY_ENABLED:false}
        - type: ${CONFIG_REGISTRY_TYPE_THIRD:nacos}
          role: ${CONFIG_REGISTRY_ROLE_THIRD:SECONDARY}
          mode: ${CONFIG_REGISTRY_MODE_THIRD:FULL}
          address: ${CONFIG_REGISTRY_ADDRESS_THIRD}
          username: ${CONFIG_REGISTRY_USERNAME_THIRD:${REGISTRY_USERNAME:}}
          properties: ${CONFIG_REGISTRY_PROPERTIES_THIRD}
          password: ${CONFIG_REGISTRY_PASSWORD_THIRD:${REGISTRY_PASSWORD:}}
          namespace: ${CONFIG_REGISTRY_NAMESPACE_THIRD:${REGISTRY_NAMESPACE:public}}
          group: ${CONFIG_REGISTRY_GROUP_THIRD}
          groupEnabled: ${CONFIG_REGISTRY_GROUP_ENABLED:true}
          denyEmptyEnabled: ${CONFIG_REGISTRY_DENY_EMPTY_ENABLED:false}
    probe:
      zookeeper:
        command: ${CONFIG_PROBE_ZOOKEEPER_COMMAND:srvr}
        response: ${CONFIG_PROBE_ZOOKEEPER_RESPONSE:}
      nacos:
        paths: ${CONFIG_PROBE_NACOS_PATH:nacos/v1/ns/operator/metrics?onlyStatus=true}
        responses: ${CONFIG_PROBE_NACOS_RESPONSE:UP}
    redis:
      command:
        manage: ${CONFIG_REDIS_MANAGE_COMMANDS:ACL,AUTH,AUTH2,HELLO,PING,QUIT,SELECT,SWAPDB,DBSIZE,FLUSHDB,FLUSHALL,TIME,CONFIG,INFO,SHUTDOWN,MONITOR,SLAVEOF,REPLICAOF,CLIENT,ASKING,READONLY,READWRITE,CLUSTER,SENTINEL,MODULE,LASTSAVE,SAVE,BGSAVE,BGREWRITEAOF,ROLE,FAILOVER,SLOWLOG,LOLWUT,COMMAND,RESET,LATENCY,WAIT,WAITAOF,MULTI,DISCARD,WATCH,UNWATCH}
        readonly: ${CONFIG_REDIS_READONLY_COMMANDS:GET,GETEX,GETDEL,GETBIT,GETRANGE,MGET,HGET,HMGET,HGETALL,HSTRLEN,HEXISTS,HLEN,HKEYS,HVALS,HRANDFIELD,EXISTS,TYPE,STRLEN,LLEN,LRANGE,LINDEX,LPOS,SCARD,SMEMBERS,SISMEMBER,SMISMEMBER,SRANDMEMBER,ZCARD,ZCOUNT,ZLEXCOUNT,ZRANGE,ZRANGEBYLEX,ZRANGEBYSCORE,ZRANK,ZREVRANGE,ZREVRANGEBYLEX,ZREVRANGEBYSCORE,ZREVRANK,ZSCORE,ZMSCORE,XLEN,XRANGE,XREVRANGE,XINFO,PFCOUNT,BITCOUNT,BITPOS,BITFIELD_RO,LCS,GEODIST,GEOHASH,GEOPOS,GEORADIUS_RO,GEOSEARCH,GEORADIUSBYMEMBER_RO}
  exporter:
    enabled: ${CONFIG_EXPORTER_ENABLED:true}
    type: ${CONFIG_EXPORTER_TYPE:${CONFIG_COUNTER_EXPORTER_TYPE:logging}}
    endpoint: ${CONFIG_EXPORTER_ENDPOINT:${CONFIG_COUNTER_EXPORTER_ENDPOINT:}}
    timeout: 5000
    readerInterval: 1000
    traffic:
      enabled: ${CONFIG_EXPORTER_TRAFFIC_ENABLED:true}
      gatewayEnabled: true
      serviceEnabled: true
    document:
      enabled: ${CONFIG_EXPORTER_DOCUMENT_ENABLED:false}
    exception:
      enabled: ${CONFIG_EXPORTER_EXCEPTION_ENABLED:true}
      maxDepth: 20
      stackTracePrefixes:
        - java.
        - javax.
        - jdk.
        - org.springframework.
        - org.apache.dubbo.
        - com.alibaba.dubbo.
        - redis.
        - org.redisson.
        - io.lettuce.
        - org.apache.rocketmq.
        - org.apache.kafka.
        - org.mariadb.jdbc.
        - com.mongodb.
        - org.opengauss.
        - org.postgresql.
        - com.netflix.discovery.
        - net.devh.boot.grpc.
        - com.alibaba.nacos
        - com.alibaba.cloud.nacos.
        - com.alipay.sofa.rpc.
        - io.grpc.
        - org.apache.commons.httpclient.
        - org.apache.http.
        - reactor.netty.http.client.
        - com.squareup.okhttp.
        - okhttp3.
        - org.apache.pulsar.
        - jakarta.servlet.
