<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" debug="false">
    <statusListener class="com.jd.live.agent.shaded.ch.qos.logback.core.status.NopStatusListener"/>

    <conversionRule conversionWord="clr"
                    converterClass="com.jd.live.agent.implement.logger.slf4j.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="com.jd.live.agent.implement.logger.slf4j.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="com.jd.live.agent.implement.logger.slf4j.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="LIVE_LOG_CONSOLE_PATTERN"
              value="${LIVE_LOG_CONSOLE_PATTERN:-%clr(%d{${LIVE_LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LIVE_LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){red} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} [LiveAgent] %m%n${LIVE_LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="LIVE_LOG_CONSOLE_CHARSET" value="${LIVE_LOG_CONSOLE_CHARSET:-${file.encoding:-UTF-8}}"/>
    <property name="LIVE_LOG_FILE_PATTERN"
              value="${LIVE_LOG_FILE_PATTERN:-%d{${LIVE_LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LIVE_LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LIVE_LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="LIVE_LOG_FILE_CHARSET" value="${LIVE_LOG_FILE_CHARSET:-${file.encoding:-UTF-8}}"/>

    <property scope="context" name="logger.dir" value="${LIVE_LOG_DIR}"/>
    <property scope="context" name="logger.application" value="${LIVE_APP_NAME}"/>
    <property scope="context" name="logger.level" value="${LIVE_LOG_LEVEL:-info}"/>
    <property scope="context" name="logger.advice.level" value="${LIVE_LOG_ADVICE_LEVEL:-${logger.level}}"/>
    <property scope="context" name="logger.totalSize" value="${LIVE_LOG_TOTAL_SIZE:-10GB}"/>
    <property scope="context" name="logger.maxHistory" value="${LIVE_LOG_MAX_HISTORY:-30}"/>
    <property scope="context" name="logger.maxFileSize" value="${LIVE_LOG_MAX_SIZE:-1GB}"/>
    <property scope="context" name="logger.fileName" value="${LIVE_LOG_FILE_NAME:-${logger.dir}/live-agent.log}"/>
    <property scope="context" name="logger.fileNamePattern" value="${LIVE_LOG_FILE_NAME_PATTERN:-${logger.fileName}.%d{yyyyMMdd}.%i}"/>

    <appender name="CONSOLE_APPENDER" class="com.jd.live.agent.shaded.ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LIVE_LOG_CONSOLE_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_APPENDER" class="com.jd.live.agent.shaded.ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger.fileName}</File>
        <rollingPolicy class="com.jd.live.agent.shaded.ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logger.fileNamePattern}</fileNamePattern>
            <maxHistory>${logger.maxHistory}</maxHistory>
            <maxFileSize>${logger.maxFileSize}</maxFileSize>
            <totalSizeCap>${logger.totalSize}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${LIVE_LOG_FILE_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <logger name="com.jd.live.agent.bootstrap.bytekit.advice.AdviceHandler" level="${logger.advice.level}"/>

    <root level="${logger.level}">
        <appender-ref ref="${LIVE_LOG_APPENDER:-ROLLING_APPENDER}"/>
    </root>

</configuration>